<% if logged_in? %>
  <%= link_to "Book new seat", new_user_booking_path(current_user.id) %>
  <table>
    <tr>
      <th>Name</th>
      <th>Desk</th>
      <th>From/to</th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% if !user.active_bookings.empty? %>
          <td><%= user.active_bookings.first.desk.label%></td>
	  <td><%= user.active_bookings.first.begin_date.to_s%> - <%= user.active_bookings.first.end_date.to_s%></td>
        <% else %>
          <td>No Booking Yet</td>
          <td></td>
        <% end %>
        <td><%= link_to 'View', user_path(user) %></td>
      </tr>
    <% end %>
  </table> 
<% else %>
  <p>Welcome to Hot Desk!. Please <%= link_to "Register", new_user_path %> to go onboard</p>
<% end %>
