<%= link_to "Home", root_path %>
<% if logged_in? %>
  <h2>Logged in, Hi <%= @user.name %></h2>
  <%= link_to "Log out", logout_path, method: :delete %>
  <h1>User details</h1>
  <p>name: <%= @user.name %></p>
  <p>email: <%= @user.email %></p>
<% else %>
  <h2>Please login first.</h2>
  <%= link_to "Log in", login_path %>
<% end %>
