<% if logged_in? %>
  <h1>User details</h1>
  <p>name: <%= @user.name %></p>
  <p>email: <%= @user.email %></p>
  <% if @booking %>
    <p>Desk: <%= @booking.desk.label%></p>
    <p>Date: <%= @booking.begin_date.to_s%> - <%= @booking.end_date.to_s%></p>
    <p><%= link_to "More bookings", user_bookings_path(@user) %>
  <% end %>
<% end %>
