<!DOCTYPE html>
<html>
  <head>
    <title>HotDesk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p>Logged in, Hi <%= current_user.name %></p>
      <%= link_to "Log out", logout_path, method: :delete %>
      <%= link_to "Home", root_path %>
    <% else %>
      <p><%= link_to "Log in", login_path%></P>
    <% end %>
  
    <%= yield %>
  </body>
</html>
